<div class="row">
	<div class="col-md-12">
		<p>Alert</p>
		<% if flash[:success] %>
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <p><%= flash[:success] %></p>
		</div>
		<% end %>
	</div>
</div>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>User_id:</strong>
  <%= @article.user_id %>
</p>

<h2>Comments</h2>

<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>